<div class="container">
  <div class="row">
    <div class="col">
      <h2>My wonderful Shopping Cart</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Please select an inventory:</h4>
    </div>
    <div class="col">
      <h4>My Cart:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <app-inventory (notify)="onNotify($event)"></app-inventory>
    </div>
    <div class="col">
      <app-cart [newItem]="itemToAdd"></app-cart>
    </div>
  </div>
</div>